/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-8-7, 20:24:02
    Author     : wb
*/
@charset "utf-8";
.smart-form .icon-vertify {
    right: 5px;
    padding-left: 3px;
    border-left-width: 1px;
    border-left-style: solid;
    border-color: #BDBDBD;
}

.smart-form .icon-vertify{
    position: absolute;
    top: 5px;
    height: 22px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    overflow: hidden;
}

.smart-form .icon-vertify img{
    width:130px;
    height: 22px;
}

#extr-page #main{
    padding-bottom: 0 !important;
}
.fix-left{
    margin-left: 0;
    padding-left: 0;
}
.fix-right{
    margin-right: 0;
    padding-right: 0;
}
@media only screen and (max-width: 479px) and (min-width: 320px){
    .fix-right{
        margin-right:13px;
        padding-right:inherit;
    }
    .fix-left{
        margin-left: 13px;
        padding-left: inherit;
    }
    
}

.widget-body .tab-pane .form-actions{
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
}

.locate {
    border: 1px solid #ccc;
    border-top: none;
    border-left: none;
    background: #fff;
    width: 208px;
    word-break: break-all;
    word-wrap: break-word;
}
.locate ul {
    margin: 0;
    padding: 0;
    margin-left: -1px;
    margin-top: -1px;
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

.locate li {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    float: left;
    width: 69px;
    height: 40px;
    text-align: center;
    list-style: none;
}
.locate li span {
    color: #333;
    display: block;
    line-height: 39px;
    text-decoration: none;
    cursor: pointer;
}
.locate li.current span {
    background: #266aae;
    color: #fff;
}

.form-horizontal header {
    display: block;
    padding: 8px 0;
    border-bottom: 1px dashed rgba(0,0,0,.2);
    font-size: 16px;
    font-weight: 300;
    color: #232323;
    margin: 10px 14px 15px;
}
.form-group .gray{
    padding-top:5px;
}
.h_a {
    padding: 5px 9px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ffffff;
    color: #666666;
    font-weight: 700;
    background: #e6e6e6;
    font-size: 12px;
}
.mb10 {
    margin-bottom: 10px !important;
}
.alert-info ul li{
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
}